/* TABLE */
.table-card {
  border-radius: 6px;
}

.deadline-warning {
  background-color: #fff3e0;
}

/* FOOTER */
.portal-footer {
  background: #f1f3f6;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #555;
}
