.inspection-container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.inspection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.application-no {
  font-size: 14px;
  color: #555;
}

.section-card {
  margin-bottom: 20px;
  border-radius: 6px;
}

.card-header {
  font-weight: 600;
  background-color: #f8f9fa;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.summary-grid label {
  font-size: 12px;
  color: #777;
}

.summary-grid p {
  margin: 0;
  font-weight: 500;
}

.checklist-item {
  margin-bottom: 10px;
}

.inspection-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}
.inspection-map {
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 490px;
  border-radius: 8px;
}
.document-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background-color: #fafafa;
}

.doc-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.doc-info i {
  font-size: 18px;
}

.summary-grid p {
  color: black !important;
}

.map-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 16px;
}

.map-form label {
  font-weight: 600;
  font-size: 13px;
}

.photo-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.photo-preview {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.remove-photo {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
}

