<div class="dashboard-wrapper">
  <!-- ================= CONTENT ================= -->
  <div class="container dashboard-content">

    <!-- KPI CARDS -->
    <div class="kpi-row">
      <div class="kpi-card warning">
        <span>Total Applications</span>
        <h3>24</h3>
      </div>

      <div class="kpi-card info">
        <span>Applications Process</span>
        <h3>7</h3>
      </div>

      <div class="kpi-card primary">
        <span>Forwarded To Senior Approver</span>
        <h3>12</h3>
      </div>

      <div class="kpi-card success">
        <span>Application Issue</span>
        <h3>10</h3>
      </div>

      <div class="kpi-card danger">
        <span>Application Rejected</span>
        <h3>3</h3>
      </div>
    </div>

  </div>
</div>
<!-- ================= CONTENT END ================= -->
